<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Epidemiological Report</title>
   <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
            font-size: 24px;
            margin-bottom: 20px;
        }
        h2 {
            font-size: 20px;
            margin-bottom: 10px;
        }
        p {
            margin-bottom: 5px;
        }
        strong {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>Epidemiological Report</h1>

    <h2>Report Details:</h2>
    <p><strong>Epidemiological Report Description:</strong> {{ epidemiological_report_description }}</p>
    <p><strong>Preventive Measures:</strong> {{ preventive_measures }}</p>
    <p><strong>Breeding Farm Name:</strong> {{ breeding_farm_name }}</p>
    <p><strong>Breeding Farm Address:</strong> {{ breeding_farm_address }}</p>
    <p><strong>Pig Count:</strong> {{ pig_count }}</p>
    <p><strong>Medical Resource Name:</strong> {{ medical_resource_name }}</p>
    <p><strong>Quantity:</strong> {{ quantity }}</p>
    <p><strong>Medical Resource Description:</strong> {{ medical_resource_description }}</p>

    <p>Thank you for submitting the information.</p>
</body>
</html>
